*{
margin:0;
padding:0;
background-color: #e160db;
}
h1{
    background-color: #0b0c1a;
    color: #632578;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choice{
    height: 100px;
    width: 100px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;

}


img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
   margin-right: 10px;

}

.choices {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 3rem;
 margin-top: 5rem;
}

.score-board {
    display: flex;
 justify-content: center;
 align-items: center;
  gap: 5rem;
 margin-top: 3rem;
 font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 3rem;
    display: flex;
 justify-content: center;
 align-items: center;
}

.msg-container{
    display: flex;
 justify-content: center;
 align-items: center;
     margin-top: 3rem;
    
 }

 #msg{
    background-color: #0b0c1a;
    color: #632578;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
 }